body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #0B1D26;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;    
   /* width: 100%;*/
    position: relative;
    margin-top: 50px;
    margin-right: 50px;
    z-index: 2; 
    width: 100%;
    /*left: 80px;*/
}

.Logo{
    margin-left: 65px; 
    margin-top: 35px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 35px;
    /*width: 350px;
    justify-content:space-around; 
    background-color: #ff7fe1;*/
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.Account{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-right: 65px;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100;
    position: relative;
    margin-top: 350px;
    z-index: 2;
}

.social ul li{
    margin-left: 10px; 
    margin-bottom: 30px;
    list-style: none;
}

.guia ul li{
    margin-bottom: 30px;
    list-style: none;
}

.divisiones ul li{
    width: 180px;
    margin-bottom: 30px;
    margin-right: -490px;
    list-style: none;
    padding-bottom: 30px;
}

.slider ul li{
    margin-bottom: 0px;
    margin-right: 65px;
    
    /*list-style: none;*/
}

.Base ul li{
    position: relative;
    margin-top: -900px;
    z-index: 0;
}

.HG{
    position: relative;
    margin-top: -900px;
    width: 100%;
}   

.MG{
    margin-top: -400px;
    width: 100%;
}

.VG{
    margin-top: -724px;
    width: 100%;
}

.HG, .MG, .VG{
    position: relative;
    z-index: 0;
}

.BG_HERO{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 200px;
    margin-left: -30px;
    margin-right: 90px;;
}

.copyr ul li{
    margin-bottom: 30px;
    margin-right: 90px;
    list-style: none;
}


.More_blog ul li{
    padding-bottom: 15px ;
    color: white;     
    font-size: 18px ;
    list-style: none;
}

.More_MNTN ul li{
   padding-bottom: 15px ;
   margin-right: 50px;
   color: white;
   font-size: 18px ;
   list-style: none;
}

.privacy{
    margin-left: 35px;
    margin-top: 40px;
}

.inicio1{
    display: flex;
    margin-left: 60px;
}

.muestra1e{
    margin-top: 10px; /*deja muestra1 debajo de foto*/
    margin-left: 60px; 
}

.muestra1c{
    position: relative;
    margin-right: 20px ;
    margin-left: 10%;
    top: -95px;
}

.muestra1f{
   /* margin-top: -650px;*/
    margin-top: -750px;
    margin-left: 50%;/* Coloca la imagen 3 a la derecha de la imagen 2 */
    z-index: 3;
}


.inicio2{
    display: flex;
    margin-left: 60px;
}
      
.muestra2f{
    margin-top: 50px;
    margin-left: 60px; 
}
      
.muestra2e{
    position: relative;
    margin-top: 70px;
    margin-left: 200px;
}
      
.muestra2c{
    margin-top: 7%;
    margin-right: 50px;
    margin-left: -105px;
}

.inicio3{
    display: flex;
    margin-left: 60px;
}
          
.muestra3e{
    margin-top: 50px;
    margin-left: 110px; 
}
          
.muestra3c{
    position: relative;
    margin-right: 20px;
    top: -95px;
    margin-left: 250px;
}

.muestra3f{
    margin-top: -650px;
    margin-left: 50%;/* Coloca la imagen 3 a la derecha de la imagen 2 */
}


.scrolldown{
    margin-left: 0px;
    color: white;
    font-size: 20px ;
    transition: background-color 0.3s;   
}

.ir01 a{
    margin-top: -150px;
    margin-left: 190px;
    color: white;
    font-size: 20px ;
    transition: background-color 0.3s; 
}

.ir01 a:hover {
    background-color: #bad03b; /* Cambia el color de fondo al pasar el ratón por encima */
}

.ir02 a{
    margin-left: 1050px;
    color: white;
    font-size: 20px ;
    transition: background-color 0.3s; 
}

.ir02 a:hover {
    background-color: #bad03b; /* Cambia el color de fondo al pasar el ratón por encima */
}

.ir03 a{
    margin-left: 250px;
    color: white;
    font-size: 20px ;
    transition: background-color 0.3s; 
}

.ir03 a:hover {
    background-color: #bad03b; /* Cambia el color de fondo al pasar el ratón por encima */
}